<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="row">
          <div class="col-md-4">
            <div class="card-counter success">
              <i class="fa fa-money"></i>
              <span class="count-numbers">$ 120</span>
              <span class="count-name">Ganancia</span>
            </div>
          </div>
      
          <div class="col-md-4">
            <div class="card-counter danger">
              <i class="fa fa-user-o"></i>
              <span class="count-numbers" *ngIf="contadorReferidos">{{contadorReferidos}}</span>
              <span class="count-name">Referidos</span>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card-counter info">
              <i class="fa fa-line-chart"></i>
              <span class="count-numbers">{{posicion}}</span>
              <span class="count-name">Posicion</span>
            </div>
          </div>
      </div><br><br>
  
<div class="row justify-content-center">
  <div class="col-md-6 titulo-box"><h3><strong>link de socio</strong></h3></div>

  <div class="col-md-6 titulo-box"><h3><strong>Patrocinador</strong></h3></div>

</div>
<div class="row justify-content-center">
  <div class="col-md-6 contenido-box"><p>www.moneygrowpros.com/register/{{codigoReferido}}</p></div>
  <div class="col-md-6 contenido-box" ><p *ngIf="Patrocinador">{{Patrocinador ? Patrocinador.first_name+' '+Patrocinador.last_name+' ('+Patrocinador.email+')' : 'No posee'}}</p></div>

</div>


      <!-- <app-time-per-client></app-time-per-client> -->
    </div>
  </div>
  <!-- <div class="row justify-content-center py-3 my-1">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <app-time-per-user></app-time-per-user>
    </div>
  </div> -->
</div>
