<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="card-title">
            <h2>Mis referidos</h2>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <!-- <button
            
                        ngbTooltip="Agregar accion"
                          type="button"
                          class="btn btn-success"
                          [routerLink]="['/home/accion/add']"
                          
                        >
                          <a class="ft-plus" style="color:white"></a>
                        </button> -->
            </div>
            <div class="col-12 table-responsive">
              <table
                class="table table-striped"
              >
                <thead class="thead-inverse">
                  <tr>
                    <!-- <th>Email</th> -->
                    <th>Nombre y Apellido</th>
                    <th>Email</th>
                    <th>Nº telefono</th>
                    <th>Estatus</th>
                    
                    <!-- <th>Roles</th> -->
                    <!-- <th>Acciones</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let blog of (blogs$ | async)['data']
                        | paginate
                          : {
                              itemsPerPage: itemsPerPage,
                              currentPage: p,
                              totalItems: (blogs$ | async)['total']
                            }; 
                          index as i
                    "
                  >
                
                    <!-- <td scope="row">{{ blog.usuario.email }}</td> -->
                    <td>{{ blog.first_name }} {{ blog.last_name }} </td>
                    <td>{{ blog.email }} </td>
                    <td>{{ blog.n_telefono }} </td>
                    <td>{{ blog.premiun==1 ? 'Activo' : 'Inactivo' }} </td>
                    
                    <!-- <td>{{ joinData(user.offices) }}</td> -->
                    <!-- <td>{{ user.roles.name }}</td> -->
                    <td>
                      <!-- <div class="btn-group">
                        <button
                        *ngIf="blog.estatus=='solicitando'"
                        ngbTooltip="Aprobar pago"
                          type="button"
                          
                          class="btn btn-success"
                          (click)="aprobar(blog)"
                        >
                          <a class="ft-check" style="color: white;" text-info></a>
                        </button>

                        <button
                        ngbTooltip="Rechazar pago"
                          type="button"
                          class="btn btn-danger"
                          (click)="rechazar(blog)"
                        >
                          <a class="ft-x" style="color:white"></a>
                        </button>
                      </div> -->
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row aling-items-end">
            <div class="col-3">
              <div class="form-group">
                <!-- <label for="page">Items por Página</label> -->
                <select
                  class="form-control"
                  name="page"
                  id="page"
                  (change)="perPage($event.target.value, p)"
                >
                  <option value="5">5</option>
                  <option value="15">15</option>
                  <option value="50">50</option>
                </select>
              </div>
            </div>
            <div class="col">
              <pagination-controls
              (pageChange)="perPage(itemsPerPage,$event)"
                previousLabel="Anterior"
                nextLabel="Siguiente"
              ></pagination-controls>
            </div>
          </div>
        </div>
      </div>
      <!-- {{ users$ | async | json }} -->
    </div>
  </div>
</div>
