<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="card-title">
            <h2>Mesas de trabajo</h2>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <button
            
                        ngbTooltip="Agregar accion"
                          type="button"
                          class="btn btn-success"
                          [routerLink]="['/home/accion/add']"
                          
                        >
                          <a class="ft-plus" style="color:white"></a>
                        </button>
            </div>
            <div class="col-12 table-responsive"> 
              <div class="row" >
                <div class="col-12 text-center " style='margin-bottom: 50px;' *ngFor='let misacciones of contadorAccion'>
                  
                  <p class="bordes">{{misacciones.email}}</p>
           
                  <div class="row">
                    <div class="col-6 " *ngFor='let misreferidos of misacciones.referidos'>
                      
                     <p class="bordes">{{misreferidos.email}}</p> 

                      <div class="row">
             
                        <div class="col-6 " *ngFor='let misreferidos2 of misreferidos.referidos'>
                            
                            <p class="bordes">{{misreferidos2.email}}</p>

                            <div class="row">
             
                              <div class="col-6 " *ngFor='let misreferidos3 of misreferidos2.referidos'>
                                  
                                  <p class="bordes" [ngClass]="misreferidos3.status==0 ? 'reds' : 'greens'">{{misreferidos3.email}}</p>
                                </div>
                            </div>
                          </div>
                      </div>
                    </div>
                </div>
       
                </div>
              </div>
           
            </div>
          </div>
          <div class="row aling-items-end">
            <div class="col-3">
              <div class="form-group">
                <!-- <label for="page">Items por Página</label> -->
                <select
                  class="form-control"
                  name="page"
                  id="page"
                  (change)="perPage($event.target.value, p)"
                >
                  <option value="5">5</option>
                  <option value="15">15</option>
                  <option value="50">50</option>
                </select>
              </div>
            </div>
            <div class="col">
              <pagination-controls
              (pageChange)="perPage(itemsPerPage,$event)"
                previousLabel="Anterior"
                nextLabel="Siguiente"
              ></pagination-controls>
            </div>
          </div>
        </div>
      </div>
      <!-- {{ users$ | async | json }} -->
    </div>
  </div>
</div>
