<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="card-title">
            <h2>Mesas de trabajo</h2>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label for="email">Usuarios</label>
                <select
                class="form-control"
                
               [(ngModel)]="usuarios"
                (change)="obtenerMesas()"
                >
                  <option value="">Seleccionar</option>
                  <option *ngFor="let usuario of ciclos"  value="{{usuario.id}}">{{usuario.email}}</option>
             
                </select>
              </div>

              <!-- <p style="font-size: 24px;"><b>Ciclo # {{p}} </b></p> -->
              <!-- <button
            
                        ngbTooltip="Agregar accion"
                          type="button"
                          class="btn btn-success"
                          [routerLink]="['/home/accion/add']"
                          
                        >
                          <a class="ft-plus" style="color:white"></a>
                        </button> -->

             


            </div>
            <div class="col-12 ">
             
              <div class="row" >
                <div class="col-12 text-center " style='margin-bottom: 50px;' *ngFor='let misacciones of contadorAccion'>
                  
                  <p class="bordes">{{misacciones.email}}</p>
           
                  <div class="row">
                    <div class="col-6 " *ngFor='let misreferidos of misacciones.referidos'>
                      
                     <p class="bordes">{{misreferidos.email}}</p> 

                      <div class="row">
             
                        <div class="col-6 " *ngFor='let misreferidos2 of misreferidos.referidos'>
                            
                            <p class="bordes">{{misreferidos2.email}}</p>

                            <div class="row">
             
                              <div class="col-6 " *ngFor='let misreferidos3 of misreferidos2.referidos'>
                                  
                                  <p class="bordes" [ngClass]="misreferidos3.status==0 ? 'reds' : 'greens'">{{misreferidos3.email}}</p>
                                </div>
                            </div>
                          </div>
                      </div>
                    </div>
                </div>
       
                </div>
              </div>

            
            </div>
          </div>
     
        </div>
      </div>
      <!-- {{ users$ | async | json }} -->
    </div>
  </div>
</div>
